App1/src/wsdl/localhost_8080/SA/SA_WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.sa.ufes.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web.sa.ufes.com/" name="SA_WebService">
<types/>
<message name="getXMLAccuracyMin">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:double"/>
</message>
<message name="getXMLAccuracyMinResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getXML">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:boolean"/>
</message>
<message name="getXMLResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="enviaXMLCarga">
<part name="arg0" type="xsd:string"/>
</message>
<message name="enviaXMLCargaResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="enviaXMLProcessar">
<part name="arg0" type="xsd:string"/>
</message>
<message name="enviaXMLProcessarResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="enviaListaXMLCarga">
<part name="arg0" type="xsd:string"/>
</message>
<message name="enviaListaXMLCargaResponse">
<part name="return" type="xsd:boolean"/>
</message>
<portType name="SA_WebService">
<operation name="getXMLAccuracyMin" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://web.sa.ufes.com/SA_WebService/getXMLAccuracyMinRequest" message="tns:getXMLAccuracyMin"/>
<output wsam:Action="http://web.sa.ufes.com/SA_WebService/getXMLAccuracyMinResponse" message="tns:getXMLAccuracyMinResponse"/>
</operation>
<operation name="getXML" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://web.sa.ufes.com/SA_WebService/getXMLRequest" message="tns:getXML"/>
<output wsam:Action="http://web.sa.ufes.com/SA_WebService/getXMLResponse" message="tns:getXMLResponse"/>
</operation>
<operation name="enviaXMLCarga">
<input wsam:Action="http://web.sa.ufes.com/SA_WebService/enviaXMLCargaRequest" message="tns:enviaXMLCarga"/>
<output wsam:Action="http://web.sa.ufes.com/SA_WebService/enviaXMLCargaResponse" message="tns:enviaXMLCargaResponse"/>
</operation>
<operation name="enviaXMLProcessar">
<input wsam:Action="http://web.sa.ufes.com/SA_WebService/enviaXMLProcessarRequest" message="tns:enviaXMLProcessar"/>
<output wsam:Action="http://web.sa.ufes.com/SA_WebService/enviaXMLProcessarResponse" message="tns:enviaXMLProcessarResponse"/>
</operation>
<operation name="enviaListaXMLCarga">
<input wsam:Action="http://web.sa.ufes.com/SA_WebService/enviaListaXMLCargaRequest" message="tns:enviaListaXMLCarga"/>
<output wsam:Action="http://web.sa.ufes.com/SA_WebService/enviaListaXMLCargaResponse" message="tns:enviaListaXMLCargaResponse"/>
</operation>
</portType>
<binding name="SA_WebServiceImplPortBinding" type="tns:SA_WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getXMLAccuracyMin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://web.sa.ufes.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://web.sa.ufes.com/"/>
</output>
</operation>
<operation name="getXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://web.sa.ufes.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://web.sa.ufes.com/"/>
</output>
</operation>
<operation name="enviaXMLCarga">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://web.sa.ufes.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://web.sa.ufes.com/"/>
</output>
</operation>
<operation name="enviaXMLProcessar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://web.sa.ufes.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://web.sa.ufes.com/"/>
</output>
</operation>
<operation name="enviaListaXMLCarga">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://web.sa.ufes.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://web.sa.ufes.com/"/>
</output>
</operation>
</binding>
<service name="SA_WebService">
<port name="SA_WebServiceImplPort" binding="tns:SA_WebServiceImplPortBinding">
<soap:address location="http://localhost:8080/SA/SA_WebService"/>
</port>
</service>
</definitions>